.button-start,
.sprint,
.sprint-info {
  margin: 15px;
}

.button-background{
  background: bottom;
}

.voice-on{
  background-color:green;
  border-radius: 25%;
}

.voice-off{
  background-color:red;
  border-radius: 25%;
}

