@mixin place1($bottom: 0, $left: 0, $z-index: 1) {
  position: absolute;
  bottom: $bottom;
  left: $left;
  z-index: $z-index;
}
@mixin place2($bottom: 0, $right: 0, $z-index: 1) {
  position: absolute;
  bottom: $bottom;
  right: $right;
  z-index: $z-index;
}

.image-help {
  @include place1(15px, 15px, 3);
  border: solid;
}

.gearButton {
  @include place2(10px, 10px, 5);
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 3%;
  z-index: 5;
}

.sprint-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
}

.question-mark {
  @include place1(10px, 10px, 5);
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 3%;
  z-index: 5;
}

.voice-picture {
  display: flex;
  width: 48vw;
  align-items: center;
  justify-content: flex-end;
}

.stick {
  z-index: 1;
}

.listenPictures {
  width: 45px;
}


.close-settings {
  width: 20%;
}

.exitButton {
  width: 80px;
  position: absolute;
  right: 80px;
  top: 80px;
}
