body {
    background-image: url('../../assets/png/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.circle {
  background: rgba(15, 28, 63, 0.125);
  border-radius: 50%;
  display: block;
  height: 0;
  overflow: hidden;
  padding-top: 10%;
  position: relative;
  width: 10%;
  margin-left: 2%;
}

.circleBar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.circleStart {
  background: rgba(15, 28, 63, 0.125);
  border-radius: 50%;
  display: block;
  height: 0;
  overflow: hidden;
  padding-top: 10%;
  position: relative;
  width: 10%;
}
.circleSucess {
  width: 10%;
}

.exitButton {
  width: 80px;
  position: absolute;
  right: 80px;
  top: 80px;
}

.displayNone {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: #a67400;
  color: #fff;
  font-size: 20px;
}
.wrapper {
  min-height: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer, .timer2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 40px #fff;
}
.timer:before, .timer2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 3;
  background-color: #fff;
  animation: mask_left 6s steps(1, end) forwards;
}

.timer2:before{
    animation: mask_left 60s steps(1, end) forwards;
}
.timer:after,.timer2:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 3;
  background-color: #8b003f;
  animation: mask_right 6s steps(1, end) forwards;
}

.timer2:after{
    animation: mask_right 60s steps(1, end) forwards;
}
.timer__line,.timer__line2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: line 6s linear forwards;
  z-index: 2;
}
.timer__line2{
    animation: line 60s linear forwards;
}

.timer__line:after, .timer__line2:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #8b003f;
}
.timer__body,.timer__body2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #071c71;
  text-align: center;
  overflow: hidden;
  z-index: 4;
}
.timer__counter{
    animation: counter 10s steps(9, end) forwards;
}
.timer__counter span , .timer__counter2 span{
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
@keyframes counter {
  0% {
  }
  100% {
    transform: translate(0px, -900px);
  }
}
@keyframes line {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes mask_left {
  0% {
    visibility: visible;
  }
  50%,
  100% {
    visibility: hidden;
  }
}
@keyframes mask_right {
  0% {
    visibility: hidden;
  }
  50%,
  100% {
    visibility: visible;
  }
}

.button-start,
.sprint,
.sprint-info {
  margin: 15px;
}

.sprint-game,
.sprint-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  // width: 100vw;
  // height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 50vw;
  border: solid;
  border-radius: 3%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.wrapper2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.voice-picture {
  display: flex;
  width: 50vw;
  align-items: center;
  justify-content: flex-end;
}

.white-background{
    background-color: white;
}

.sprint-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
}

.stick {
  z-index: 1;
}

.parrotBar {
  position: relative;
  top: 35px;
  z-index: 2;
}

.question-mark{
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 3%;
  z-index: 5;
}

.image-help{
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 3;
  border: solid;
}