@import 'timer';
@import 'pictures';
@import 'buttons';

$background: url('../../../assets/backgrounds/sprint.jpeg');
$text-color:black;
$bottom-margin: 80px;
$font-size: 20px;

 @mixin position($property) {
  display: flex;
  justify-content: $property;
  align-items: $property;
  text-align: $property;
}

body {
  background-image: $background;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  color: white;
  font-size: $font-size;
}
.wrapper {
  min-height: 100%;
  padding: 50px;
  @include position(center); 
}

.sprint-game,
.sprint-start {
  @include position(center); 
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  width: 50vw;
  border: solid;
  border-radius: 3%;
  color:$text-color;
}

.container {
  @include position(center); 
  width: 100vw;
  height: 100vh;
}

.wrapper2 {
  @include position(center); 
  margin: 40px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.parrotBar {
  position: relative;
  top: 35px;
  z-index: 2;
}

.sprint {
  display: inline-block;
  position: relative;
  letter-spacing: 0.05em;
  text-shadow: 1px 1px mediumturquoise, -1px 1px mediumturquoise, -1px -1px mediumturquoise,
    1px -1px mediumturquoise;
  color: white;
  transition: all 1s;
}
.sprint:hover {
  color: lemonchiffon;
}

.settingsText {
  width: 80%;
}
