@import 'timer';
@import 'pictures';
@import 'buttons';

$background: url('../../../assets/backgrounds/sprint.jpeg');
$text-color: black;
$bottom-margin: 80px;
$font-size: 20px;

@mixin position($property) {
  display: flex;
  justify-content: $property;
  align-items: $property;
  text-align: $property;
}

// body {
//   background-image: $background;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  color: white;
  font-size: $font-size;
}
.wrapper {
  min-height: 100%;
  padding: 50px;
  @include position(center);
}

.sprint-game,
.sprint-start {
  @include position(center);
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  // width: 50vw;
  // border: solid;
  // border-radius: 3%;
  color: $text-color;
  // background: pink;
}
.sprint-game {
  background-color: #ffffffb9;
  border-radius: 16px;
}
.sprint-info {
  color: white;
}
.zzz {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-size: cover;
  margin-left: -18px;
}
.sprint-container {
  @include position(center);
  width: 100vw;
  height: 100vh;
  margin-top: 40px;
  background-image: $background;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.wrapper2 {
  @include position(center);
  margin: 40px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.parrotBar {
  position: relative;
  top: 35px;
  z-index: 2;
}
.h1 {
  font-size: 56px;
  letter-spacing: 20px;
  color: #ffffff;
  text-shadow: 2px 3px 2px #8f7575;
  display: flex;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}
.sprint {
  // display: inline-block;
  // position: relative;
  // letter-spacing: 0.05em;
  // text-shadow: 1px 1px mediumturquoise, -1px 1px mediumturquoise, -1px -1px mediumturquoise,
  //   1px -1px mediumturquoise;
  // color: white;
  // transition: all 1s;
  font-size: 56px;
  letter-spacing: 20px;
  color: #ffffff;
  text-shadow: 2px 3px 2px #8f7575;
  display: flex;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-right: 40px;
}

.settingsText {
  width: 80%;
}

.keyboard-inform {
  position: absolute;
  bottom: 15px;
  color: white;
}

@media only screen and (max-width: 967px) {
  .keyboard-inform {
    display: none;
  }
  .exitButton {
    right: 35px;
    top: 20px;
  }
  .timer,
  .timer2 {
    width: 125px;
    height: 125px;
    margin: -40px;
  }

  .timer__body,
  .timer__body2 {
    width: 80px;
    height: 80px;
  }

  .timer__counter span,
  .timer__counter2 span {
    padding-bottom: 20px;
  }
  .image-help {
    width: 23%;
  }
}

@media only screen and (max-width: 575px) {
  .listenPictures {
    width: 30px;
  }
  .voiceImage {
    width: 35px;
  }
  .voice-picture {
    width: 75vw;
  }

  html,
  body {
    font-size: 18px;
  }
  .exitButton {
    width: 60px;
    position: absolute;
  }
  .timer,
  .timer2 {
    width: 80px;
    height: 80px;
  }

  .timer__body,
  .timer__body2 {
    width: 50px;
    height: 50px;
  }

  .timer__counter span,
  .timer__counter2 span {
    padding-bottom: 50px;
    font-size: 30px;
  }
  .sprint-game {
    width: 75vw;
  }
}
@media only screen and (max-width: 480px) {
  .h1,
  .sprint {
    font-size: 24px;
    margin-right: 0;
  }
}
@media only screen and (max-width: 375px) {
  html,
  body {
    font-size: 16px;
  }
}

.circleBar {
  widows: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleSucess,
.circle {
  width: 5vw;
  padding: 5px;
}
