.word__icon {
  width: 30px;
  height: auto;
}
.vocabulary__text {
  text-align: center;
}
.text-secondary {
  text-align: center;
}
body {
  background: url(../../assets/mountain.png) no-repeat center center fixed;
  background-size: cover;
}
