.container.col-sm-4
  ul.nav.nav-tabs
    li.ml-auto.mr-5.active
      a(data-toggle='tab' href='#login') LOG IN
    li.mr-auto.ml-5
      a(data-toggle='tab' href='#signin') SIGN IN
  .tab-content
    #login.tab-pane.in.active
      h6.mt-3.mb-3 Enter your registration data to create personal account.
      #usermess.mb-3
      form(name="login")
        .form-group
          label.control-label(for='email') Email:
          div
            input#email.form-control(name="username" type='email' placeholder='Enter email' required='')
        .form-group
          label.control-label(for='pwd') Password:
          div
            input#pwd.form-control(name='password' type='password' placeholder='Enter password' required='')
        .form-group
          label.control-label(for='rpwd') Repeat password:
          div
            input#rpwd.form-control(name='rpassword' type='password' placeholder='Enter password' required='')
        .form-group
          .col-sm-offset-1
            button#log.btn.btn-block(type='submit') LOG IN
    #signin.tab-pane
      h6.mt-3.mb-3 Enter registration data to enter your personal account.
      form
        .form-group
          label.control-label(for='emails') Email:
          div
            input#emails.form-control(type='email' placeholder='Enter email' required='')
        .form-group
          label.control-label(for='pwds') Password:
          div
            input#pwds.form-control(type='password' placeholder='Enter password' required='')
        .form-group
          .col-sm-offset-1
            button#sign.btn.btn-block(type='submit') SIGN IN
