.container.col-sm-3
  ul.nav.nav-tabs
    li.active
      a(data-toggle='tab' href='#login') LOG IN
    li
      a(data-toggle='tab' href='#signin') SIGN IN
  .tab-content
    #login.tab-pane.fade.in.active
      h5.mt-30 Enter your registration data to enter your personal account.
      form.form-horizontal
        .form-group
          label.control-label.col-sm-4(for='email') Email:
          .col-sm-8
            input#email.form-control(type='email' placeholder='Enter email' required='')
        .form-group
          label.control-label.col-sm-4(for='pwd') Password:
          .col-sm-8
            input#pwd.form-control(type='password' placeholder='Enter password' required='')
        .form-group
          label.control-label.col-sm-4(for='rpwd') Repeat password:
          .col-sm-8
            input#rpwd.form-control(type='password' placeholder='Enter password' required='')
        .form-group
          .col-sm-offset-7.col-sm-7
            button.btn.btn-default(type='submit') LOG IN
    #signin.tab-pane.fade
      h5 Enter your registration data to enter your personal account.
      form.form-horizontal
        .form-group
          label.control-label.col-sm-4(for='emails') Email:
          .col-sm-8
            input#emails.form-control(type='email' placeholder='Enter email' required='')
        .form-group
          label.control-label.col-sm-4(for='pwds') Password:
          .col-sm-8
            input#pwds.form-control(type='password' placeholder='Enter password' required='')
        .form-group
          .col-sm-offset-7.col-sm-3
            button.btn.btn-default(type='submit') SIG IN
