.container
    .row.justify-content-md-center
      .row.justify-content-center.align-items-center
        button.col.h2(type="button")|<
      .card.col-8
        .h3
          p|I
            input#word(type="text" value="run")
            |every morning.
          hr
          p.h5#translated-sentence|Я бегаю каждое утро.
          button#accept(type="button")|Accept
      .row.justify-content-center.align-items-center
        button.col.h2(type="button")|>
    .container
      p.row.justify-content-center.h2#translated-word|бежать, бегать
    .container
      .row.justify-content-center.align-items-center
        span|17
        progress#progress(value="17" max="50")
        span|50
    .container.card
      img.img-fluid.rounded#word-img(alt="run")
      .card-body
        p#transcription||rʌn|
        button#audio

