.container
    .row.justify-content-md-center
      .row.justify-content-center.align-items-center
        button.col.h2(type="button")|<
      .card.col-8
        .h3
          p|I
            input(type="text" value="run")
            |every morning.
          hr
          p.h5|Я бегаю каждое утро.
      .row.justify-content-center.align-items-center
        button.col.h2(type="button")|>
    .container
      p.row.justify-content-center.h2|бежать, бегать
    .container
      .row.justify-content-center.align-items-center
        span|17
        progress#progress(value="17" max="50")
        span|50
    .container.card
      img.img-fluid.rounded(alt="run")
      .card-body
        p()||rʌn|
        img(width="40" height="40" alt="audio")
