.container
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    img(src='#')
    a.navbar-brand(href='#') WebSiteName
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href='#')
            | Home 
            span.sr-only (current)
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | Games
          .dropdown-menu 
            a.dropdown-item(href='#') Speakit
            a.dropdown-item(href='#') English Puzzle
            a.dropdown-item(href='#') Savanna
            a.dropdown-item(href='#') Audio Call
            a.dropdown-item(href='#') Sprint
            a.dropdown-item(href='#') Our Game
        li.nav-item
          a.nav-link(href='#') Our Team
        li.nav-item
          a.nav-link(href='#') Settings
      .col-md-1
        img.mr-auto.mx-auto(src='#')
        p User
