doctype html
head
  meta(charset='UTF-8')
  title Title
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
.card(style='width: 500px;')
  .text-center
    button.close(type='button' aria-label='Close')
      span(aria-hidden='true') &times;
    .card-header
      | Well Done!
    .card-body
      p.card-text
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
      a.btn.btn-primary.m-1(href='#') Settings
      a.btn.btn-primary.m-1(href='#') Continue
