
      div(class="container")
        button(type="button" class="btn btn-secondary") Settings
        div(class="input-group input-group-sm mb-3")
          div(class="input-group-prepend")
            span(class="input-group-text",id="inputGroup-sizing-sm") Daily limit of words
          input(type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm")
        div(class="input-group input-group-sm mb-3")
          div(class="input-group-prepend")
            span(class="input-group-text" id="inputGroup-sizing-sm") Daily limit of cards
          input(type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm")
        div(class="form-group form-check")
          input(type="checkbox" class="form-check-input" id="exampleCheck1")
          label(class="form-check-label" for="exampleCheck1") Translate
        div(class="form-group form-check")
          input(type="checkbox" class="form-check-input" id="exampleCheck1")
          label(class="form-check-label" for="exampleCheck1") Transcription
        div(class="form-group form-check")
          input(type="checkbox" class="form-check-input" id="exampleCheck1")
          label(class="form-check-label" for="exampleCheck1") Image
        div(class="form-group form-check")
          input(type="checkbox" class="form-check-input" id="exampleCheck1")
          label(class="form-check-label" for="exampleCheck1") Sentence for best understanding
        div(class="form-group form-check")
          input(type="checkbox" class="form-check-input" id="exampleCheck1")
          label(class="form-check-label" for="exampleCheck1") Sentence example of usage
