.container
  button.btn.btn-secondary(type="button") Settings
  .input-group.input-group-sm.mb-3
    .input-group-prepend
      span.input-group-text Daily limit of words
    input.form-control(type="number"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm")
  .input-group.input-group-sm.mb-3
    .input-group-prepend
      span.input-group-text Daily limit of cards
    input.form-control(type="number"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm")
  .form-group.form-check
    input.form-check-input(type="checkbox")
    label.form-check-label(for="exampleCheck1") Translate
  .form-group.form-check
    input.form-check-input(type="checkbox")
    label.form-check-label(for="exampleCheck1") Transcription
  .form-group.form-check
    input.form-check-input(type="checkbox")
    label.form-check-label(for="exampleCheck1") Image
  .form-group.form-check
    input.form-check-input(type="checkbox")
    label.form-check-label(for="exampleCheck1") Sentence for best understanding
  .form-group.form-check
    input.form-check-input(type="checkbox")
    label.form-check-label(for="exampleCheck1") Sentence example of usage
    