ul.list-group.list-group-flush#vocabulary
  li.list-group-item.d-flex.align-items-center#vocabulary-item
    input.mr-3(type='checkbox')
    button.btn(type='button')
          img.mr-3(height='30', src='./assets/img/megaphone.svg', alt='Speak it')
    .words-container
      h5.text-primary.mb-0 commitment
      p обязательство
      h6.mb-o Do you know your commitments?
      p.text-secondary.mb-0 Давность: 11 часов назад | Повторений: 6
