ul.list-group.list-group-flush
  li.list-group-item.d-flex.align-items-center
    input.mr-3(type='checkbox', checked='')
    img.mr-3(height='25', src='./assets/img/megaphone.svg', alt='Speak it')
    .words-container
      h5.mb-0 commitment
      p.mb-0 обязательство
