.base__game_card__container {
  position: relative;
}
.base_game__card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 768px;
  height: 332px;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(96, 97, 112, 0.16), 0px 2px 4px rgba(40, 41, 61, 0.04);
  border-radius: 8px;
  margin-top: 167px;
  position: relative;
  @media (max-width: 800px) {
    margin-top: 50px;
    display: block;
    width: 400px;
    height: 100%;
    // height: 600px;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(96, 97, 112, 0.16), 0px 2px 4px rgba(40, 41, 61, 0.04);
    border-radius: 8px;
  }
  @media (max-width: 400px) {
    width: 300px;
    height: 100%;
    // height: 650px;
  }
}
.base__game_card-image__container {
  position: absolute;
  z-index: 3;
  width: 240px;
  height: 168px;
  left: 275px;
  top: -84px;
  box-shadow: 0px 4px 8px rgba(96, 97, 112, 0.16), 0px 0px 2px rgba(40, 41, 61, 0.04);
  border-radius: 8px;
  @media (max-width: 800px) {
    top: 5px;
    left: 77px;
  }
  @media (max-width: 400px) {
    top: 5px;
    left: 27px;
  }
}
.base__game_card__image {
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 8px rgba(96, 97, 112, 0.16), 0px 0px 2px rgba(40, 41, 61, 0.04);
  border-radius: 8px;
}
.base__game_card-info__container {
  padding-top: 90px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (max-width: 800px) {
    padding-top: 185px;
  }
}
.base__game_card-info {
  font-family: 'Inter';
  text-align: center;
  font-size: 20px;
  margin-bottom: 0px;
  color: black;
}
.base__game_separator {
  margin-left: 65px;
  margin-right: 65px;
  height: 0px;
  border-top: 1px solid #bebebe;
}
.translation {
  padding-top: 7px;
}
.base__game_translation__container {
  margin-top: 17px;
  bottom: 5px;
  width: 100%;
  @media (max-width: 800px) {
    margin-top: 45px;
  }
}
