.base__game_wrapper {
  width: 1440px;
  margin: 0 auto;

  background-size: cover;
}

.base__game__container {
  height: 100vh;
  max-width: 100%;
  background: url(../../assets/backgrounds/2247177.png) no-repeat center center fixed !important;
  background-size: cover;
}
