.base__game_wrapper {
  width: 1440px;
  margin: 0 auto;

  background-size: cover;
}

.base__game__container {
  width: 100vw;
  background: url(../../assets/backgrounds/2247177.png) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}
