.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 33px;
  border-radius: 50px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5c496d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 3.5px;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  background-color: #ab669a;
}
input:checked + .slider {
  background-color: #ffffff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #e3e4eb;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 50px;
}

.slider.round:before {
  border-radius: 50%;
}

.buttons_control__container {
  display: flex;
  justify-content: center;
  margin-top: 56px;
  flex-wrap: wrap;
  @media (max-width: 800px) {
    margin-top: 28px;
  }
}
.base__game_button {
  font-family: 'Inter';
  height: 32px;
  border-radius: 4px;
  margin-right: 40px;
  border: 2px solid #5c496d;
  background: white;
  color: #5c496d;
  &:hover {
    color: white;
    background: #5c496d;
  }
  &:last-child {
    margin-right: 0px;
  }
}
.button-switch {
  position: absolute;
  right: calc((100vw - 768px) / 2);
  top: 126px;
  display: flex;
  z-index: 100;
  @media (max-width: 800px) {
    right: calc((100vw - 300px) / 2);
    top: 10px;
  }
}
.input__container {
  display: inline-block;
  position: relative;
  padding: 0;
}

.input-base-game {
  display: inline;
  position: absolute;
  border: none;
  outline: none;
  background-color: transparent;
  left: 0px;
  top: -1px;
  width: 100%;
  color: black;
  padding-left: 5px;
  margin-right: 3px;
}
.slider__button {
  width: 64px;
  height: 64px;
  border-radius: 50px;
  border: none;
  outline: none;
  @media (max-width: 1300px) {
    display: none;
  }
}
.slider__prev {
  position: absolute;
  left: 15.5%;
  right: 0px;
  top: 50%;
  bottom: 0px;
  z-index: 5;
}
.slider__next {
  position: absolute;
  left: 80%;
  right: 200px;
  top: 50%;
  bottom: 0px;
}
.slider__svg {
  margin-bottom: 0px;
}
