.button-switch__text {
  font-size: 12px;
  padding-top: 10px;
  margin-right: 8px;
  font-weight: bold;
}
.word {
  margin-right: 4px;
}
.studied-word__container {
  display: inline;
  width: 100%;
  color: #338c99;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 0.25em;
  z-index: 1000;
}
.red {
  color: rgb(216, 94, 94);
}
