p {
  margin: 0;
}
.footer {
  background-color: #ab669a;
  bottom: 0px;
  flex: 0 0 auto;
  display: flex;
  width: 100%;
  padding: 0.5rem 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__wrapper {
  display: flex;
  background-color: inherit;
  width: 100%;
  padding: 0rem 5rem;
  justify-content: space-between;
}
.team-mate {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background-size: cover;
  margin: 10px;
  transition: all 0.2s ease-out;
}
.team-mate:hover {
  box-shadow: 0px 0px 20px white;
}
.team-mate__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}
.footer-info {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: white;
  margin: auto;
}
.anhelina {
  background-image: url(https://avatars3.githubusercontent.com/u/56220481?s=460&u=8064a11e3c29f947d4d521aace2c2ccb535714f7&v=4);
}
.olga {
  background-image: url(https://avatars2.githubusercontent.com/u/54282812?s=460&u=5f15179ece139066d5a2c37919fd702fb20c01a2&v=4);
}
.tanya {
  background-image: url(https://avatars1.githubusercontent.com/u/60570588?s=460&u=456616d0980890a98f5d3c680169260046332dba&v=4);
}
.arslan {
  background-image: url(https://avatars3.githubusercontent.com/u/28512469?s=460&u=e55656e92bb7e22c9536ceded314da7eb71fed1b&v=4);
}
.ilya {
  background-image: url(https://avatars1.githubusercontent.com/u/46264063?s=460&u=b9be290e549985853e5534bf4bcfba2deeea55b7&v=4);
}
.artiem {
  background-image: url(https://avatars1.githubusercontent.com/u/55196488?s=460&v=4);
}
body {
  overflow: hidden;
}
@media (max-width: 890px) {
  .footer-info {
    padding-top: 10px;
    width: 100%;
  }
  .team-mate__container {
    width: 100%;
  }
}
