// @import './styles/base';
@import './styles/buttons';
@import './styles/icons';
@import './styles/text';
@import './styles/swiper';

.base__game_card__container {
  position: relative;
}
.base__game__close {
  z-index: 100;
  cursor: pointer;
}
