// @import './styles/base';
@import './styles/buttons';
@import './styles/icons';
@import './styles/text';
@import './styles/swiper';

.base__game_card__container {
  position: relative;
}
body {
  background-image: url(../assets/mountain.png);
}
