.settings__content {
    background-color: $color-white;
    opacity: .7;
    font-size: 3vh;
    display: block;
    justify-content: space-between;
    align-items: center;
    color: $color-blue-darker;
    font-size: 160%;
}