
body {
  background: url(../../assets/mountain.png) no-repeat center center fixed;
  background-size: cover;
}

.page__title {
  text-align: center;
  color: black;
  margin: 20px 0px;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  letter-spacing: 4px;
  font-weight: bold;
  width: 100%;
  text-shadow: 2px 1px 0px #fff, 1px 4px 0px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  position: inherit;
  background-color: #d8aee5;
  // min-height: 84px;
  box-shadow: 0px 0px 15px;
}
.settings_learned__words {
background-color: #ffffffab;
border-radius: 16px;
padding: 20px;
padding-top: 0;
display: flex;
flex-direction: column;
margin-bottom: 20px;
}
.settings__container {
  // margin-left: 30px;
  width: 80%;
  margin:auto;
}
.settings__info {
  margin-right: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: black;
}
.settings__secondary-title {
  display: inline;
  font-family: Inter;
  width: 100%;
  // height: 40px;
  color: white;
  padding: 5px 17px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  background: #8a74be;
  border-radius: 16px;
  margin: 20px 0;
}
.form__button {
  width: 25px;
  height: 30px;
  background: #ffffff;
  border-radius: 4px;
  border: none;
  outline: none;
  margin-right: 16px;
}
.words__limit, .cards__limit, .level__limit {
  display: flex;
}

.plus-minus__input {
  width: 64px;
  height: 30px;
  margin-right: 16px;

  background: #8a74be;
  border-radius: 8px;
  color: white;
  text-align: center;
  border: none;
  outline: none;

}
.info__card {
  display: flex;
}
.settings__checkbox {
  margin-top: 7px;
  margin-right: 10px;
  border: 2px solid #555770;
}
.settings__info__container {
  margin-top: 20px;
}
.button__imitation {
  border: 2px solid #5c496d;
  padding: 4px 16px;
  text-align: center;
  margin-bottom: 10px;
  color: #5c496d;
}
body {
  overflow: visible;
  background-size: cover;
}
.submit__settings_button {
  background: #5c496d;
  border-radius: 4px;
  width: 172px;
  height: 40px;
  color: white;
  font-size: 20px;
  margin-left: 45%;
}
