
body {
  background: url(../../assets/mountain.png) no-repeat center center fixed;
  background-size: cover;
}

.page__title {
  text-align: center;
  color: white;
}
.settings__container {
  margin-left: 30px;
}
.settings__info {
  margin-right: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}
.settings__secondary-title {
  display: inline;
  font-family: Inter;
  width: 100%;
  height: 40px;
  color: black;
  padding: 2px 17px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 22px;
  text-align: center;
  background: #ffe9f2;
  border-radius: 16px;
}
.form__button {
  width: 32px;
  height: 32px;
  background: #ffffff;
  border-radius: 4px;
  border: none;
  outline: none;
  margin-right: 16px;
}
.words__limit {
  display: flex;
}
.cards__limit {
  display: flex;
}
.plus-minus__input {
  width: 64px;
  height: 40px;
  margin-right: 16px;

  background: #8a74be;
  border-radius: 8px;
  color: white;
  text-align: center;
  border: none;
  outline: none;

}
.info__card {
  display: flex;
}
.settings__checkbox {
  margin-top: 7px;
  margin-right: 10px;
  border: 2px solid #555770;
}
.settings__info__container {
  margin-top: 20px;
}
.button__imitation {
  border: 2px solid #5c496d;
  padding: 4px 16px;
  text-align: center;
  margin-bottom: 10px;
  color: #5c496d;
}
body {
  overflow: visible;
  background-size: cover;
}
.submit__settings_button {
  background: #5c496d;
  border-radius: 4px;
  width: 172px;
  height: 40px;
  color: white;
  font-size: 20px;
  margin-left: 45%;
}
